<launch>
<arg name="model" default="$(find matrice100)/urdf/m100.urdf"/>
<arg name="gui" default="true"/>
<arg name ="rvizconfig" default="$(find matrice100)/rviz/m100.rviz" />

<param name="matrice100" textfile="$(find matrice100)/urdf/m100.urdf" />
<param name="use_gui" value="$(arg gui)"/>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="$(find matrice100)/rviz/m100.rviz" required="true" />
</launch>
